/.gradle
/build
**/build

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# PDF
*.pdf

# Mac System Files
.DS_Store
*.zip
.coursecreator/Learn_Java/course.json
